<div class="header" ng-init="verify()">
	<a href="#/create">Create a poll</a> | 
	<a href="" ng-click="logout()">Log out</a>
</div>
<div ng-init="getAll()">
	<p>Welcome, {{ sessionName }}!</p>
	<h3>Current polls</h3>
	<input type="text" placeholder="Search">  <!-- TODO: add ngmodel and implement -->
	<p ng-show="deleteConfirm">Survey deleted</p>
	<table>
		<tr>
			<th>Name</th>
			<th>Survey question</th>
			<th>Date posted</th>
			<th>Action</th>
		</tr>
		<tr ng-repeat="question in questions">
			<td>{{ question.creator }}</td>
			<td><a href="#/poll/{{question._id}}">{{ question.content }}</a></td>
			<td>{{ question.createdAt }}</td>
			<td><button ng-if="question.creator===sessionName" ng-click="deleteQuestion(question)">Delete</button></td>
		</tr>
	</table>
</div>