<p ng-init="verifySession()"></p>
<p>Hi, {{ sessionName }}!</p>
<p ng-init="getQuestions()">Choose an answer for each of the questions and submit the test once done. Good luck!</p>
<form ng-submit="">
	<div ng-repeat="question in questions track by $index">
		<p>{{ $index + 1 }}. {{ question.qtext }}</p>
		<input type="radio" value="a">{{ question.answer }}<br>
		<input type="radio" value="b">{{ question.fake1 }}<br>
		<input type="radio" value="c">{{ question.fake2 }}<br>
	</div>
	<button ng-click="goHome()">Cancel</button>
	<input type="submit" value="Submit">
</form>