body {
	font-family: Calibri,Helvetica,sans-serif;
}
	div.controller {
		margin: 1em 0;
		padding: 1em;
		min-height: 5em;
	}
		div.start {
			min-width: 10em;
			min-height: 5em;
			border: medium solid #2B78E4;
		}
		div.side_by_side {
			min-width: 8em;
			display: inline-block;
			vertical-align: top;
		}
		form label, form input {
			display: block;
		}
			form input.question {
				width: 24em;
			}
	table {
		margin-top: 1em;
		border-collapse: collapse;
	}
		table th, table td {
			padding: 0 0.5em;
			border: thin solid #2B78E4;
		}
		table th {
			min-width: 5em;
			text-align: left;
		}
	div.footer {
		padding: 1em;
	}
		div.footer img {
			width: 12%;
			height: 12%;
		}